*.pdf
*.aux
*.dvi
*.log
*.bbl
*.blg
errors.txt
teza_processed.synctex.gz
_minted*
get_links.exe
get_links.obj
build.exe
build.obj
teza_processed.pyg
teza_processed.synctex*
*.fdb_latexmk
*.fls
output
*.pagecount
*.toc
*.out
*.xdv